@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon-top {
    @apply  py-3 pl-5 relative flex items-center
            border-l-4 border-secondary hover:border-[#A3A0FB]
            hover:bg-[#9290E2]/[.18]
            hover:text-[#A3A0FB]
            font-light
  }

  .sidebar-icon-bottom {
    @apply  py-3 pl-5 relative flex items-center
            hover:text-[#A3A0FB]
            font-light
  }

  .navbar-icon{
    @apply  py-3 pl-5 relative flex items-center
            hover:text-[#A3A0FB]
            text-secondary
            xl:visible lg:visible md:visible 
            min-[0px]:invisible max-sm:invisible
  }

  .searchbar{
    @apply  relative flex items-center
            text-zinc-500
  }

  /* Popup */
  #popup {
    z-index: 9999;
  }

  #popup .bg-gray-500 {
    opacity: 0.5;
  }

  #popup .inline-flex {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
  }

  #popup button {
    cursor: pointer;
  }

  #popup button:focus {
    outline: none;
  }

  #popup button:active {
    transform: translateY(1px);
  }

  #popup button:hover {
    background-color: #f3f4f6;
    border-color: transparent;
  }

  #popup button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    overflow: hidden;
  }

  .upload-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      background-color: #c495cb;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
  }

  input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
  } 
}
